/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');*/

@font-face {
    font-family: 'Avant_Grande_Demo';
    src: url('./Avant_Grande_Demo.ttf');
}

@font-face {
    font-family: 'SignPainter-HouseScript';
    src: url('./SignPainter-HouseScript.ttf');
}



* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 300;
    color: #F8E6C9;
}

.root-wrapper {
    width: 35vw;
    height: auto;
    top: 50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    overflow: hidden;
    background: transparent !important;
}

html, body {
    background: transparent !important;
}

.main-wrapper {
    margin: auto;
    width: 75%;
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: 0%;
    display: none;
    background: #0000009d;
}

.heading {
    width: 100%;
    height: 50%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    overflow: wrap;
    background: linear-gradient(to right, #093d79, #3665a6,#3069b4)
}

.main-body {
    padding: 1.5rem;
    padding-top: 0.5rem;
}

.heading h1 {
    font-family: 'SignPainter-HouseScript'!important;
    font-size: 75px;
    position: relative;
}

.body {
    width: 100%;
    height: auto;
    min-height: 10%;
    max-height: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.body label {
    margin-top: 24px;
}

.body input[type="text"] {
    font-size: 14px;
    outline: none;
    padding-left: 20px;
    border-radius: 0px;
    margin: 5px 0px;
    background: #ffffff;/*#111518;*/
    color: black;
    height: 50px;
    border: none;
}

.body input[type="text"]:focus { 
    outline: none;
}

.body select {
    background: #111518;
    border: none;
}

.body option {
    background: #111518;
    padding: 1rem 0;
}

.footer {
    display: flex;
    margin-top: 3%;
}

::placeholder {
    color:black;
}

.background {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.452);
    z-index: -99;
    display: none;
}

.btn {
    width: 50%;
    height: 50px;
    font-size: 14px;
    background-color: #e7e7e7;
    color: black;
    border: none;
    font-weight:500;
    border-radius: 0px;
    -webkit-transition-property: color, background-color;
    -webkit-transition-duration: 0.10s, 0.30s;
    -webkit-transition-timing-function: linear, ease-in;
}

.btn:hover {
    background-color: #6b6b6b;
    color: #ffffff;
}

.btn.btn-success {
    margin-right: 2%;

}

